extends layout

block content
  h1= title
  p Welcome to #{title}
  p In this demo,you can only use the same ip to request 3 times in 15 seconds
  p for more information,open the development tool(Chrome),and reload again to check the "Network"
